<div class="container">
    <div class="row">
        {{#each books}}
            {{> books/book-block}}
        {{/each}}
    </div>
</div>

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="note-list"></div>
        <textarea class="form-control" id="note-input" placeholder="Your notes here."></textarea>
      </div>
      <div class="modal-footer">
        <button id="add-note-button" type="button" class="btn btn-success">Add Notes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
